body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    height: 6000px;
    background-color: rgb(198, 200, 202);
}

h2 {
    font-size: 200%;
}

p {
    font-size: 145%;
    background-color: #0b2d3f;
    color: white;
    width: 90%;
    margin: 20px auto;
}

.sub-paragraph {
    background-color: #6930c3;
}

.sub-highlight {
    background-color: #80ffdb;
    color: #0b2d3f;
}

.note {
    text-align: start;
    background-color: rgb(221, 221, 138);
    color: #0b2d3f;
    font-weight: bold;
}

b {
    background-color: #6930c3;
}

#container-no-flex {
    background-color: #0b2d3f;
    width: 90%;
    margin: 0 auto;
    border: 5px solid #0b2d3f;
}

#container-flex {
    background-color: #0b2d3f;
    width: 90%;
    margin: 0 auto;
    border: 5px solid #0b2d3f;
    display: flex;
}

.container-no-flex-child {
    width: 200px;
    height: 200px;
}

.container-flex-child {
    width: 200px;
    height: 200px;
}

#container-no-flex-with-height {
    background-color: #0b2d3f;
    width: 90%;
    margin: 0 auto;
    border: 5px solid #0b2d3f;
    height: 600px;

    /* Do not worry about this 'position' property. We will
  learn about it in the future. */
    position: relative;
}

/* We will learn more about ::before and ::after later in the course
and about 'position'. So, do not worry about this section for now */
.overflow-text {
    position: absolute;
    bottom: -50%;
    width: 25%;
    left: 27%;
    text-align: left;
}

/* We will learn more about ::before and ::after later in the course
and about 'position'. So, do not worry about this section for now */
#container-no-flex-with-height::before {
    content: "";
    width: 40px;
    border-top: 4px solid #80ffdb;
    border-right: 4px solid #80ffdb;
    border-bottom: 4px solid #80ffdb;
    position: absolute;
    left: 22%;
    bottom: -65%;
    height: 60%;
    border-radius: 5px;
}

.mt-600 {
    margin-top: 500px;
}
#container-flex-with-height {
    background-color: #0b2d3f;
    width: 90%;
    margin: 0 auto;
    border: 5px solid #0b2d3f;
    height: 600px;
    display: flex;
    /* flex-start is the default value when you set display:flex */
    justify-content: flex-start;
    /* 
  Stretch is the default value for align-items property.
  The reason they are no stretching is because each child box is set a
  specific height of 200px
  */
}

.container-flex-with-height-child {
    width: 200px;
}

#container-flex-grow {
    background-color: #0b2d3f;
    width: 90%;
    margin: 0 auto;
    border: 5px solid #0b2d3f;
    height: 600px;
    display: flex;
    /* flex-start is the default value when you set display:flex */
    justify-content: flex-start;
}

.container-flex-grow-child {
    /* without any specified width or height on the FLEX items, flexbox-grow will fill all the space */
    /* available with the equal height and width for each element */
    flex-grow: 1;
}

#container-flex-image {
    display: flex;
    background-color: #0b2d3f;
    width: 90%;
    margin: 0 auto;
    border: 5px solid #0b2d3f;
    height: 600px;
}
